requests
beautifulsoup4
urllib3
loguru

psycopg2-binary
sqlparse
python-dateutil
python-dotenv
mysql-replication

flask
flask-sqlalchemy
sqlalchemy
fastapi
pydantic
aiofiles
asyncpg
hypercorn
uvicorn

locust
lxml
playwright

msgpack
tqdm

pytest
mock
six
